.header {
    display: flex;
    justify-content: space-between;
    margin: 43.46px 80px 43.44px 80.1px;
   
    ul {
        display: flex;
        align-items: center;
        gap: 32px;
        list-style: none;
    }
    li {
        font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    
    color: #83888F;
    }
}